<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hci201.tingada">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashFirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SliderImgLoginActivity" />
        <activity android:name=".LoginPhoneActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".LoginFBAppActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".FeedActivity" />
        <activity android:name=".ContactView" />
        <activity android:name=".FindLoverActivity" />
        <activity android:name=".SettingProfilePage" />
        <activity
            android:name=".TabHomeActivity"
            android:label="@string/title_activity_tab_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".PurchaseActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".ReportActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".LoverImageSliderActivity" />
        <activity
            android:name=".LogoutConfirmActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ListRequestFriendActivity" />
        <activity android:name=".HintActivity" />
        <activity android:name=".SearchResultActivity" android:theme="@style/Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>